{% load staticfiles %}
<html>
    <head>
        <title>{% block html_title %}Rob&apos;s Blog{% endblock %}</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" type="text/css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>

        <div class="page-header">
            <h1><a href="/">Rob&apos;s Blog</a></h1>
        </div>

    {% block content %}
    {% endblock %}

    </body>
</html>